.my-custom-scrollbar {
    position: relative;
    height: 350px;
    overflow: auto;
}
    .table-wrapper-scroll-y {
    display: block;
}

.header{
    position:sticky;
    top: 0 ;
}

.table-width {
    width: 351px;
}

th {
    text-align: center;
}

td {
    background-color: white; 

    text-align: center;
}

tr {

    text-align: center;
}

.editor-field select {
    margin-left: 250px;
}

select {
    width: 150px;
    height: 30px;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

#poll {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}
  
#poll[type=text]:focus {
    width: 350px;
}

#subject {
    width: 350px;
    height: 40px;
    border: 1px solid black;
    margin: 2px;
}

textarea {
    border: 1px solid black;
    width: 350px;
    height: 150px;
}

p {
    font-size: 25px;
}

textarea {
    resize: none;
}

.card {
    margin: 40px;
}

.responsive {
    width: 100%;
    max-width: 701px;
    height: auto;
}

.fa-1x {
    font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
    cursor: pointer;
  }
  .white-color {
    color: white
  }

.form-control {
    width: 350px;
}

.submit-width {
    width: 150px;
}

.create-p {
    font-size: 15px;
}